.workspace{
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 100%;
    display: table;
}

.media{
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 2px;
    padding-bottom: 2px;
    /* border-bottom: 1px solid #e0e0e0; */
}
.media{
    border: 1px solid #e0e0e0;
}

button{
    background: #fafafa;
    border-radius: 10px;
    border-radius: 50px;
    transition: all .6s ease;

}
button:hover{
    transform: scale(1.05);
}


a:hover{
    text-decoration: none;
    }

