{% extends 'reestrORIMP/base.html'%}

{%block title%}
Реестр оборудования ОРиМР - Вспомогательное оборудование
{%endblock%}

{%block content%}


{% for part in base %}
<div class="media" id="stick">
  {% if part.image_of_equipment %}
     <div class="media-left media-top">
       <img src="{{part.image_of_equipment.url}}" class="media-object" style="width:250px ">
     </div>
   {%else%}
     <div class="media-left media-top">
       <img src="/media/images/omvoig_SI/depositphotos.jpg" class="media-object" style="width:250px">
     </div>
   {%endif%}
  <div class="media-body">
     <!-- <h4 class="media-heading"> {{part.name_of_equipment}}</h4> -->
     <h4 class="media-heading"><button >{{part.name_of_equipment_passport}}</button></h4>
       <div style="display: none;" id="hide">
       <a href="{%url 'orimp_VO_DATAIL' part.pk%}">Cсылка-кнопка на детальную информацию</a> 
       <p><b>Программное обеспечение:</b> {{part.po}}</p>
       <p><b>Наименование компании производителя:</b> {{part.company}}</p>
       <p><b>Заводской Номер:</b> {{part.factury_number}}</p>
       <p><b>Инвентарный номер:</b> {{part.invent_number}}</p>
       <p><b>Наименование, шифр эксплуатационного документа:</b> {{part.main_document}}</p>
       <p><b>Предел (диапазон) измерений:</b> {{part.range_of_measure}}</p>
       <p><b>Класс точности, погрешность:</b> {{part.class_measure}}</p>
       <p><b>Место нахождения (кабинет):</b> {{part.location_lab}}</p>
       <p><b>Условия эксплуатации:</b> {{part.microclimate}}</p>
       <p><b>Организация, выполнившая поверку СИ:</b> {{part.organization_check}}</p>
       <p><b>Переодичность поверки(мес):</b> {{part.range_check}}</p>
       <p><b>Поверка СИ:</b> {{part.last_verification}} {% if part.verification_file%}<a href="{{part.verification_file.url}}">скан-файл</a>{%endif%}</p>
       <p><b>Дата следующей поверки/калибровки/аттестации:</b> {{part.next_verification}}</p>
       <p><b>Техническое обслужинание, ремонт:</b> {{part.last_maintaince}}</p>
       <p><b>Техническое состояние:</b> {{part.tech_condition}}</p>
       <p><b>Ответственный за эксплуатацию:</b><a href="{%url 'orimp_personal_datail' part.responsible_for_use.pk%}">
        {{part.responsible_for_use}}</a></p>
       <p><b>Дата изготовления:</b> {{part.date_manufactur}}</p>
       <p><b>Дата ввода в эксплуатацию:</b> {{part.date_start_usage}}</p>
       <p><b>Примечание:</b> {{part.fact}}</p>
       <p><b>Описание типа:</b> {% if part.description_type%}<a href="{{part.description_type.url}}">Файл описание типа</a>{%endif%}</p>
       <p><b>Методика поверки:</b> {% if part.method_file_poverka%}<a href="{{part.method_file_poverka.url}}">Файл методики поверки</a>{%endif%}</p>
       </div>
       <div>
        <p><b>Наименование оборудования по госреестру:</b> {{part.name_of_equipment_gos_reestr}}</p>
        <p><b>Наименование оборудования R3:</b> {{part.equip_R3}}</p>
        <p><b>Модель, тип:</b> {{part.model_type}}</p>
        <p><b>Номер в госреестре СИ:</b> {{part.number_gosreestr}}</p>
        <p><b>Регистрационный номер эталона:</b> {{part.number_etalon}}</p>
      </div>
  </div>
</div>


{%endfor%}  

{%endblock%}